.jn_color-bg {
    background-color: $sbgcolor1;
}
.jz_color-bg {
    background-color: $sbgcolor8;
}
.jc_color-bg {
    background-color: $sbgcolor11;
}

.jc_color-border {
    color: $sbgcolor11 !important;
    border-color:$sbgcolor11 !important;
}
.jz_color-border {
    color: $sbgcolor8 !important;
    border-color:$sbgcolor8 !important;
}
