// 通用颜色
$sbgcolor1: #2BAE85; //主色25C264
$sbgcolor2: #E7F8D4; //配色1黄色FFC64B
$sbgcolor3: #F04E51; //配色2红色F04E51
$sbgcolor4: #0D0D0D; //副色0D0D0D
$sbgcolor5: #A0A0A0; //副色/线条A0A0A0
$sbgcolor6: #DBDBDB; //副色DBDBDB
$sbgcolor7: #F5F5F5; //背景色/线条F5F5F5
// 胶站配色
$sbgcolor8: #3578f7; //胶站主色
$sbgcolor9: #F88D02; //配色F88D02
$sbgcolor10: #E54043; //配色E54043
// 胶厂配色
$sbgcolor11: #FFA020; //胶厂主色

// 文字
$text1: 28rpx;
$text2: 32rpx;
$text3: 36rpx;
$text4: 38rpx;
$text5: 36rpx;
$text6: 72rpx;
$text7: 48rpx;
// 文字
// $text1: 10rem;
// $text2: 12rem;
// $text3: 14rem;
// $text4: 16rem;
// $text5: 18rem;
// $text6: 32rem;

// 标题
$title1: 32rpx;
$title2: 36rpx;
$title3: 48rpx;
$title4: 60rpx;
// 标题
// $title1: 16rem;
// $title2: 18rem;
// $title3: 24rem;
// $title4: 30rem;

// 圆角
$radius1: 16rpx;
$radius2: 36rpx;
$radius3: 66rpx;
$radius4: 76rpx;
$radius5: 20rpx;
$radius6: 80rpx;
$radius7: 8rpx;

// 图片宽高
$imgw1: 100rpx;
$imgh1: 100rpx;
$imgw2: 220rpx;
$imgh2: 172rpx;
$imgw3: 140rpx;
$imgh3: 140rpx;
